# .env.example
# Requerido: API Key con "Maps JavaScript API" habilitada en Google Cloud Console
VITE_GOOGLE_MAPS_API_KEY=
VITE_GEMINI_API_KEY=

# Variables para Vercel o entornos sin firebase-applet-config.json
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_FIRESTORE_DATABASE_ID=
# Opcionalmente, puedes pegar todo el JSON stringificado en:
# VITE_FIREBASE_CONFIG_JSON={"apiKey": "...", ...}

# WhatsApp / Contact Config
VITE_SUPPORT_WA_URL=https://wa.me/584248680233?text=Hola%2C%20necesito%20ayuda%20con%20mi%20reserva%20en%20VeneStay.
VITE_HOST_REGISTER_WA_URL=https://wa.me/584248680233?text=Me%20gustar%C3%ADa%20ingresar%20mi%20propiedad%20a%20Venestay%20y%20ser%20parte%20de%20los%20propietarios%20Fundadores.
VITE_SUPPORT_PHONE_DISPLAY=+58 424-868-0233
